@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 4% 16%;
    --card: 0 0% 100%;
    --card-foreground: 240 4% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 4% 16%;
    --primary: 240 4% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 4% 16%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 4% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 4.8% 95.9%;
    --ring: 240 5% 34%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 4% 16%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 5% 26%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 34%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-sm text-foreground;
  }
}

html,
body {
  @apply h-full;
}

body {
  padding-bottom: max(env(safe-area-inset-bottom), 13px);
}

.hover-trigger:hover .hover-show {
  @apply scale-100 opacity-100;
}

.hover-trigger:hover .hover-hidden {
  @apply scale-90 opacity-0;
}

.hover-show {
  @apply scale-90 opacity-0 transition duration-300;
}

.hover-hidden {
  @apply scale-100 opacity-100 transition duration-300;
}

.input {
  @apply rounded-md bg-input p-2 outline-2 outline-offset-2 outline-ring focus:outline;
}

::-webkit-scrollbar {
  --bar-width: 5px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-border;
}
